<!-- Navbar -->
<nav class="navbar navbar-expand-lg " style="background-color:#616161; ">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <div mdbDropdown class="dropdown">
          <button
            class="btn btn-outline-light btn-rounded dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            aria-expanded="false"
            mdbDropdownToggle
          >
            For Review
          </button>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <!-- Notification dropdown -->
        <div>
          <div mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow"
              id="navbarDropdownMenuLink"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
              <i class="fas fa-bell" style="color: #fff;"></i>
              <span class="badge rounded-pill badge-notification bg-danger"
                >1</span
              >
            </a>
            <ul
              mdbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Notification dropdown -->
        <!-- Avatar -->
        <div mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            style="color:#fff"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="22"
              alt=""
              loading="lazy"
            />
            <span style="color:#fff"> John Doe </span>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
            
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
