<div class="requestDashboard">
  <div class="hero">
    <div class="row">
      <div class="col-md-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">General Request</a></li>
          <li class="breadcrumb-item"><a href="#">Purchase Request</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="#">View</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span class="heroTitle">Facility Request - #1</span>
      </div>
      <div class="col-md-2">
        <a routerLink="/dashboard"><button class="goBack" mat-button>Go Back</button></a>
      </div>
    </div>
  </div>



  <div class="requestContent">
    <div *ngFor="let user of Users">
      <div *ngIf="user.refid === 1">
        <div class="row">
          <div class="column">
            <div>
              <span class="reqLabel">Reference Id</span>
              <span class="reqData">{{ user.refid }}</span>
            </div>
            <div>
              <span class="reqLabel">Request Type</span>
              <span class="reqData">{{ user.type }}</span>
            </div>
            <div class="reqTable">
              <table class="">
                <tr>
                  <th>Sl no.</th>
                  <th>Items</th>
                  <th>Quantity</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Chair</td>
                  <td>2</td>
                  <td>For conference room</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Table</td>
                  <td>1</td>
                  <td>For housekeeping</td>
                </tr>
              </table>
            </div>

            <div>
              <span class="reqLabel">Note</span>
              <span class="reqData">{{ user.note }}</span>
            </div>
            <div>
              <span class="reqLabel">Approver's Remark</span>
              <span class="reqData">{{ user.approverRemarks }}</span>
            </div>
          </div>
          <div class="column">
            <div>
              <span class="reqLabel">Date</span>
              <span class="reqData">{{ user.appliedDate }}</span>
            </div>
            <div>
              <span class="reqLabel">Reason</span>
              <span class="reqData">{{ user.reason }}</span>
            </div>

            <div>
              <span class="reqLabel">User's Remark</span>
              <span class="reqData">{{ user.remarks }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>