<div>
  <h1>Facility Request</h1>

  <!-- New Form -->
  <!-- <div class="row">
    <div class="">
      <h2>User Registration</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row"> -->
  <!-- <div class="form-group col-md-5">
            <label for="refid">refid</label>
            <input
              type="text"
              class="form-control"
              id="refid"
              formControlName="refid"
            />
            <div
              class="alert alert-danger"
              *ngIf="userForm.get('refid')?.invalid 
              && userForm.get('refid')?.touched"
            ></div>
          </div> -->
  <!-- <div class="form-group col-md-5">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" formControlName="type" />
            <div class="alert alert-danger" *ngIf="userForm.get('type')?.invalid 
              && userForm.get('type')?.touched"></div>
          </div> -->
  <!-- <div class="form-group col-md-5">
            <label for="appliedDate">Applied Date</label>
            <input type="text" class="form-control" id="appliedDate" formControlName="appliedDate" />
          </div> -->
  <!-- 
          <mat-form-field appearance="fill" class="form-group col-md-5">
            <mat-label>Request Type</mat-label>
            <mat-select class="form-control" id="type" formControlName="type">
              <mat-option *ngFor="let request of requests" [value]="request.value">
                {{request.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-group col-md-5">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" type="text" class="form-control" id="appliedDate"
              formControlName="appliedDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-group col-md-5">
            <mat-label>Description</mat-label>
            <input matInput type="text" class="form-control" id="description" formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-group col-md-5">
            <mat-label>Remarks</mat-label>
            <input matInput type="text" class="form-control" id="remarks" formControlName="remarks">
          </mat-form-field> -->

  <!-- <div class="form-group col-md-5">
            <label for="refid">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description" />
            <div class="alert alert-danger" *ngIf="userForm.get('description')?.invalid 
              && userForm.get('description')?.touched"></div>
          </div>

          <div class="form-group col-md-5">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" formControlName="status" />
            <div class="alert alert-danger" *ngIf="userForm.get('status')?.invalid 
              && userForm.get('status')?.touched"></div>
          </div>

          <div class="form-group col-md-5">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="remarks" formControlName="remarks" />
            <div class="alert alert-danger" *ngIf="userForm.get('remarks')?.invalid 
              && userForm.get('remarks')?.touched"></div>
          </div> -->

  <!-- User Type -->
  <!-- <div class="form-group">
          <label for="userType">User Type</label>
          <select class="form-control" id="userType" formControlName="userType">
            <option *ngFor="let type of userTypes" [value]="type">
              {{type}}
            </option>
          </select>
        </div> -->
  <!-- <button type="submit" [disabled]="userForm.invalid" class="btn btn-success col-md-1">
            Submit
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6, col-md-6">
          <div class="alert alert-info" *ngIf="isAdded">
            <p>User Added SuccessFully!</p>
            <button class="btn btn-primary" (click)="resetUserForm()">
              Add another user
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <h2>User Registration</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="form-group ">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" type="text" id="appliedDate" formControlName="appliedDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Request Type</mat-label>
            <mat-select id="request" formControlName="request">
              <mat-option *ngFor="let request of requests" [value]="request.value">
                {{request.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Description</mat-label>
            <input matInput type="text" id="description" formControlName="description">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Section</mat-label>
            <mat-select id="section" formControlName="section">
              <mat-option *ngFor="let section of sections" [value]="section.value">
                {{section.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Remarks</mat-label>
            <input matInput type="text" id="remarks" formControlName="remarks">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" mat-dialog-close [disabled]="userForm.invalid" class="btn btn-success">
            Submit
          </button>
        </td>
        <td>
          <button type="reset" class="btn btn-primary">
            Reset
          </button>
        </td>
      </tr>
    </table>
  </form>

</div>