.tableWidth {
  width: 100%;
}

.tableInner {
  margin: 20px;
  width: 100%;
  text-align: center;
  border: 1px gray solid;
  font-size: small;
}

th {
  background: rgb(237, 250, 255);
  color: black;
}

.dashboard {
  margin: 5%;
}

.dashButton {
  padding: 0.5% 1%;
  border: none;
  border-radius: 5px;
  color: grey;
}

.heroButton {
  padding: 0.5% 1%;
  border: none;
  border-radius: 5px;
  color: grey;
}

.hero {
  margin: 2%;
  border-bottom: gray 2px;
}

.heroTitle {
  font-size: x-large;
  font-weight: bolder;
}

.hamburgerTitle {
  font-size: small;
}

.newRequest {
  background: rgb(65, 65, 240);
  color: white;
  padding: 5%;
  border: none;
  border-radius: 5px;
}

.newRequest:hover {
  background-color: rgb(94, 94, 245);
}

.tableButton {
  border: none;
  color: gray;
  background: none;
}
